@import "~normalize.css";
@import "../iconfont/iconfont.css";
@import "./reset-vant.css";
body,html {
    max-width: 750px !important;
    min-width: 320px !important;
    height: 100%;
    color: #333;
    letter-spacing:.5px;
}
/** { touch-action: manipulation; }*/
li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

