//登录部分灰色提示字体
.hint-font {
  color: #A3A3A3;
  font-size: 14px;
}

//登录注册等页面的padding
.page-padding {
  padding: 30px 15px;
}

@gray-font: #AEAEAE;

//方案一夜间模式 灰黑灰
@header-color: #666699;
@content-color: #fff;
@bottom-color: #fff;
@night-mode-height-color: black;
@night-mode-color: #A9A9A9;


//// 方案一夜间模式 灰黑灰
//@header-color:#1A1E21;
//@content-color:#13171A;
//@bottom-color:#1A1E21;
//@night-mode-height-color:#84888B;
//@night-mode-color:#43474A;
////@header-color:#BD5876;
////@content-color:#EEEDF1;
////@bottom-color:#BD5876;
