.van-dropdown-menu__bar {
}

.van-dropdown-menu__item {
    /*justify-content: center !important;*/
    /*padding-right: 120px;*/
}

.van-tab__pane {
    height: calc(100vh - 44px);

}

.h .van-cell__title {
    color: #000;
    font-weight: bold;
}

.netease-mv-swiper .van-swipe {
    height: 160px;
}

/*.recommend .van-list {*/
/*    height: 100vh;*/
/*}*/
.list-item .van-swipe-cell {
    height: 100px;


}

.action-wrap .van-action-sheet{

    z-index: 9999 !important;
}
